body {
	padding: 0;
	margin: 0;
}
ul.menu {
	list-style: none;
	width: 100%;
	background-color: blue;
	float: left;
	margin: 0;
}
ul.menu li {
	float: left;
	display: inline-block;
	padding: 5px 10px;
}
ul.menu li a {
	color: #fff;
}
ul.menu li a:hover {
	text-decoration: none;
}
p {
	margin: 10px 0;
	clear:both;
}